* {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1d2125;
}

a {
  text-decoration: none;
  display: flex;
  padding: 0;
  flex: 1;
  color: white;
  cursor: "pointer";
}
h2 {
  color: white;
  padding: 1rem;
}

fieldset {
  border-color: transparent !important;
}

button {
  text-transform: none !important;
}
